.image
	margin 10.9% auto
	text-align center
	&--1
		width 72.8%
	&--2
		width 87%
	&--3
		margin-top -5%
		width 44.6%
	&--4
		margin 0
	&--5
		width 83.6%
	&--6		
		margin-top 0
	&--7
		margin 0
	&--8
		position relative
		width 47.5%	
		&::before        
			position absolute
			top 0
			background #f4f4f4
			content ''
			display block
			

	img
		width 100%
		vertical-align top
	
	&--full
		width 100%