#animation_container
	@media media-mobile
		height 100vh!important

.screen
	padding-top 10%
	&--white
		padding-bottom 11%
	&--gray
		background-color #f4f4f4
		padding-bottom 11%
		
	&--dark
		background-color #212225
		padding-bottom 11%
		
		&-light
			padding-top 0
			background-color #373d42
			padding-bottom 11%
	
	&--product
		background #383d42
		margin-top 12.5%
		padding-bottom 11%
		.m-product
			&__images
				display flex
				align-items flex-end
				justify-content center
				margin -23% 0 0
				.i1
					width 51.5%
				.i2
					margin 0 0 0 6.875%
					width 19.5%	
			&__title
				display flex
				align-items center
				justify-content center
				margin 6.25% 0 3.125%
				img
					display block
				.t1
					margin 0 .5em 0 0
					width 80%
			&__subtitle
				color #797e82
				font-size 3.43vw
				text-transform uppercase
				font-family 'Gotham';
				letter-spacing 2px
				margin 0 auto 1.75em
				text-align center
			&__text
				text-align center
			&__btn
				border 1px solid #c0c0c0
				text-align center
				line-height 1
				font-size 3.75vw
				display block
				margin 0 auto
				padding 1em 0
				text-decoration none
				color #c0c0c0
				width 38%