.screen--start
	height calc(100vh - 25px)
	min-height 450px
	background url('../assets/img/mobile/start.jpg') no-repeat
	background-size cover
	background-position center center
	
	.social--white
		right 10px
		.ya-share2__list
			height 125px
		.ya-share2__container_size_m .ya-share2__icon
			width 15px!imoprtant
			height 15px!important
			
	
	.m-logo-row
		display flex
		justify-content center
		margin-left -28px
		position relative
		z-index 22

	
	.logo--samsung
		width 28%
		max-width 116px
	.logo--birro
		width 23%
		max-width 82px
	
	.m-start
		&-title
			color #fff
			margin 15px auto 50px
			font-size 18px
			text-transform uppercase
			letter-spacing 5px
			font-family 'S6'
			line-height 24px
			text-align center
			width 260px
		&-text
			width 240px
			margin 0 auto
			color #fff
			font-size 12px
			line-height 18px