.text
	font-size 3.75vw
	font-family 'S6'
	line-height 1.5
	color #4c4c4c
	margin-bottom 1.7em
	&:last-child
		margin-bottom 0
	&--medium
		color #767676
	&--light
		color #c0c0c0
	
	&--bracket
		@media media-mobile
			background-size 29.5%
			padding 13% 0
			font-family 'S3'
			font-size 7.2vw
			line-height 1.25
			text-align left
			margin 0
	
	&--title
		@media media-mobile
			font-size 7.5vw
			line-height 1.25
			font-family 'S3'
			margin 0 0 .5em
	&--figure
		span
			display block
		@media media-mobile
			margin-right -3.125vw
			text-transform uppercase
			.f1
				font 7.5vw/1 'Gotham'
			.f2
				font 17vw/1 'Gotham'
			.f3
				font 11.25vw/1 'Gotham'
				padding 0 0 0 31.25%
			
	
	&--roles
		@media media-mobile
			letter-spacing 1px
			font-family 'S4'
			font-size 2.5vw
			line-height 1.75
			width 70%
			margin 5em auto 0
			color #000