// ==============================
// +  >>>>>>>  FONTS <<<<<<<<<  +
// ==============================

font_name(name, filename)
  font-family name
  src url(../fonts/filename.woff) format('woff')
  font-weight normal
  font-style normal


// =======================================
// +  >>>>>>>>> MEDIA QUERY <<<<<<<<<<<  +
// =======================================
media-mobile = 'screen and (max-width 768px)'
media-tablet = 'screen and (min-width 768px)'
media-desktop = 'screen and (min-width 992px)'
media-large = 'screen and (min-width 1200px)'