.logo
	display inline-block
	color transparent
	font-size 0
	cursor pointer
	text-decoration none
	img
		width 100%
		vertical-align top
	&--birro
		margin-right 18px
	&--samsung
		margin-top 10px
		margin-right -56px