.text--bold
	font-family 'S6'
	line-height 24px

.text--dark
	color #4c4c4c

.text--light
	color #767676

.text--white
	color #838383

.text--title
	font-size 36px
	line-height 48px
	font-family 'S3'

.text-grid
	display flex
	flex-direction row
	justify-content space-between

.text--bracket
	padding 113px 0
	background-image url(../i/top.png), url(../i/bottom.png)
	background-repeat no-repeat
	background-position center top, center bottom