.s1
  padding 100px 0
  &::before
    position absolute
    top 0
    bottom 0
    left 50%
    background #e7e7e7
    content ''
    display block
    width 1px
    z-index 1
  .container
    display flex
    flex-wrap wrap
    position relative
    z-index 2
    &__col
      padding 0 12px
      width 50%
      &.col1
        padding-left 23px
    .p1
      margin 0 0 70px
      padding 0 70px 0 94px    
    .p2
      width 305px
    .p3, .p4
      width 360px  
    .image2
      margin 48px 0  
.s2
  position relative
  &::before
    position absolute
    top 0
    left 50%
    bottom 0
    background #f4f4f4
    content ''
    display block
    margin 0 0 0 -547px
    width 1094px
    z-index 1
  .container
      
    display flex
    flex-wrap wrap
    padding 75px 112px
    position relative
    width 1000px
    z-index 2
    &::before
      position absolute
      top 0
      bottom 0
      left 50%
      background #e7e7e7
      content ''
      display block
      width 1px
      z-index 1
    &::after
      position absolute
      top 40px
      left 50%
      border 1px solid #e7e7e7
      border-radius 50%
      content ''
      display block
      height 640px
      margin 0 0 0 -320px
      width 640px
      z-index 1
  p
    color #4c4c4c
    margin-bottom 45px
    position relative
    width 373px
    z-index 3
    &:nth-of-type(2n)
      margin-left 24px
  :last-child
    margin-bottom 0
    
    
.s3
  background #373d42
  .container
    position relative
    width 1094px
  p
    color #767676
    background #212225
    margin 0
    padding 120px 222px 50px 120px
    width 782px
  img
    position absolute
    top 50%
    right 94px
    display block
    height 286px
    margin -143px 0 0
    width 286px
.s4
  img
    vertical-align middle
.s5
  padding 47px 0 75px
  &::before
    position absolute
    top 0
    bottom 0
    left 50%
    background #e7e7e7
    content ''
    display block
    width 1px
    z-index 1
  .container
    display flex
    flex-wrap wrap
    position relative
    z-index 3
    &__col
      padding 0 12px
      width 50%
      &.col1
        padding-left 23px
      &.col2
        p
          width 400px  
    blockquote
      margin-bottom 70px
      width 810px    
    .p1
      padding 0 70px 0 0
    .image5
      margin 62px 0 
      transform translateX(-70px)
    .figure-text
      color #4c4c4c
      margin 0 auto
      padding 0 0 0 40px
      position relative
      width 908px
      span
        display block
        font-family 'Gotham'
        text-transform uppercase
      .t1, .t3
        font-size 72px
      .t1
        padding 0 0 0 90px  
      .t2
        font-size 141px
        line-height 122px
      .t3
        padding 0 0 0 429px
        width 395px
      .t4
        position absolute
        left 80px
        bottom 91px
        width 370px
.s6

  position relative
  &::before
    position absolute
    top 0
    bottom 165px
    right 50%
    left 0
    background #212225
    content ''
    display block
    z-index 1
  .container
    padding 80px 0 70px 116px
    position relative
    z-index 2
    &::before
      position absolute
      top 0
      bottom 165px
      right 0
      left 50%
      background #212225
      content ''
      display block
      z-index 1
  p, div
    position relative
    z-index 2    
  .title-text
    color #cfcfcf
    font 36px/47px 'S3'
    letter-spacing -1px
    margin-bottom 28px
    width 440px
  .p1
    color #767676
    width 304px
  .image6
    position absolute
    right -460px
    top 200px
    width 908px
    z-index 2
    img
      max-width 100%
  .image7
    margin 95px 0 0
    transform translateX(-256px)
    width 628px
    img
      max-width 100%
  .dark-offset
    position absolute
    bottom -140px
    right -140px
    background #373d42
    color #767676
    margin 0
    padding 280px 256px 60px 99px
    width 652px
    z-index 1
.s7
  padding 0 0 200px
  &::before
    position absolute
    top 0
    bottom 0
    left 50%
    background #e7e7e7
    content ''
    display block
    width 1px
    z-index 1
  .container
    display flex
    flex-wrap wrap
    position relative
    z-index 3
    &__col
      padding 0 12px
      width 50%
      &.col1
        align-self flex-start
        padding 0 70px 0 90px
        position relative
        &::before
          position absolute
          top 60px
          bottom 0
          left -2000px
          right 71px
          background #f4f4f4
          content ''
          display block
          z-index 1
      &.col2
        padding-top 170px  
    .p1
      padding 0 5px 0 30px
      position relative
      z-index 3
    .image8
      margin 50px 0 35px
      position relative
      z-index 3
    .p2
      width 350px
    .note-text 
      color #000
      font 14px/24px 'S4'
      letter-spacing .1em
      margin 100px 0 0
      width 350px
.section--product
  background #353b40
  &:after
    content ''
    left 0
    top 50px
    position absolute
    display block
    width 100%
    height 1px
    background-color #e1e1e1
    opacity .1
    z-index 0
  &:before
    content ''
    bottom -10px
    left 50%
    position absolute
    transform translateX(-50%)
    display block
    width 690px
    height 386px
    border 1px solid rgba(#e7e7e7, .20)
    border-radius unit(@width/2 + 1, 'px') unit(@width/2 + 1, 'px') 0 0
    z-index 0

  .container
    padding-bottom 92px
    position relative
    z-index 1
    &::before
      content ''
      left 50%
      top 0
      bottom 0
      position absolute
      display block
      width 1px
      background-color #e1e1e1
      opacity .1
      z-index 0
  .images
    display flex
    justify-content center
    align-items flex-end
    transform translateY(-94px)
    position relative
    z-index 3
    .i2
      margin-left 30px
  .texts
    display flex
    justify-content center
    align-items center
    margin -68px 0 0
    .t2
      height: 52px;
      transform: translateY(-5px);
      margin-left: 28px;
  .product__title
    color #797e82
    font 29px/1 'Gotham'
    letter-spacing 2px
    margin 24px 0 27px
    text-align center
    text-transform uppercase
  .product__text
    color #c0c0c0
    font 18px/30px 'S6'
    margin 0 auto
    text-align center
    width 770px
  .product__btn
    width 212px
    height 64px
    margin 0 auto
    border 1px solid #c0c0c0
    color #c0c0c0
    text-align center
    line-height 64px
    font-size 18px
    margin 34px auto 0
    display block
    text-decoration none
    transition all .3s ease
    &:hover
      opacity .7