p
	color #4c4c4c
	font 16px/24px 'S6'
	margin 0 0 1.3em 0
.text--bold
	font-family 'S6'
	line-height 24px

.text--dark
	color #4c4c4c

.text--light
	color #767676

.text--white
	color #838383

.text--title
	font-size 36px
	line-height 48px
	font-family 'S3'

.text-grid
	display flex
	flex-direction row
	justify-content space-between

blockquote
	background-image url(../i/top.png), url(../i/bottom.png)
	background-color #fff
	background-repeat no-repeat
	background-position center top, center bottom
	color #4c4c4c
	font 36px/48px 'S3'
	margin 30px auto 0
	padding 113px 0
	text-align left
	width 760px
	
	