.screen--nav-footer
.screen--nav
	background-color #303030
	padding 0!important
	height 7.7vw
	
	
	.nav-link
		font-size 2.1875vw
		width 33.33%
		letter-spacing 2px
		padding 0 3px
		height 7.7vw
		white-space nowrap
		justify-content center