.is-hidden
	display none!important

.is-unvisible
	visibility hidden!important

.is-hidden--mobile
	@media media-mobile
		display none

.is-hidden--tablet
	@media media-tablet
		display none

.is-hidden--desktop
	@media media-desktop
		display none